<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Offres - Euromada</title>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/uikit.js"></script>
<script type="text/javascript" src="js/dropdown.min.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/dimmer.min.js"></script>
<script type="text/javascript" src="js/rating.min.js"></script>
<script type="text/javascript" src="js/transition.min.js"></script>
<script type="text/javascript" src="js/uikit-icons.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="app.js"></script>
<style type="text/css">
/* UI semantic */
  @import url("css/semantic.css");
  @import url("css/dropdown.css");
  @import url("css/transition.css");
  @import url("css/dimmer.css");
  @import url("css/rating.css");
/* UIkit */
  @import url("css/uikit.css");
  @import url("style.css");
  @import url('https://fonts.googleapis.com/css?family=Exo:300,400,700');

  a.er-list-title {
    font-size: 15.98px;
    color: rgba(0, 0, 0, 0.85) !important;
    font-weight: bold;
  }
  .ui.primary.buttons .button, .ui.primary.button {
    background-color: #001689 !important;
  }
  .ui.primary.buttons .button:hover, .ui.primary.button:hover {
    background-color: #f6bf11 !important;
    color: #000000;
  }
  .er-sidebar section .image > img { 
    padding: 16px;
  }
  .er-sidebar section .er-sidebar-title {
    background-color: #F6BF11 !important;
    font-weight: bold;
  }
  .er-sidebar section > .content .meta > p {
    font-weight: 300;
  }
  .er-sidebar section .extra.content .ui.button {
    padding: 11px !important;
  }
  .er-button-voir {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .er-sidebar section .extra.content .ui.button, .er-button-voir {
    font-size: 14px !important;
    border-radius: 0 !important;
  }
  .er-label {
    font-size: 0.614286rem !important;
  }
  .er-pagination .uk-icon {
    color: #001689 !important;
    font-weight: bold;
  }
  .er-photo  {
    display: block;
    position: absolute;
    width: 28px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    background-image: url(img/camera.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px -1.2px;
    color: #ffffff;
    font-size: 11px;
    left: 5px;
    top: 5px;
  }
</style>
<script type="text/javascript">
  (function($){
    $(document).ready(function() {

    });
  })(jQuery)
</script>

<script type="text/x-template" id="template-pagination">
  <ul class="uk-pagination uk-flex-center" uk-margin>
      <li><a href="#"><span uk-pagination-previous></span></a></li>
      <li><a href="#">1</a></li>
      <li class="uk-disabled"><span>...</span></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li class="uk-active"><span>7</span></li>
      <li><a href="#">8</a></li>
      <li><a href="#"><span uk-pagination-next></span></a></li>
  </ul>
</script>

</head>

<body>
	<header>
  	<div id="er-header-top" class="uk-content uk-content-small">
      <div class="er-navbar-top">
        <div class="uk-container uk-container-small">
          <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-right">
              <ul class="uk-subnav uk-margin-remove">
                <li><a href="#">Se connecter</a></li>
                <li><a href="#">Condition de ventes</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="uk-container ukt-container-small">
        <div class="uk-margin-medium-bottom uk-margin-top" uk-grid>
          <div class="uk-width-1-2 er-logo">
            <!-- logo -->
            <a href="#link" class="uk-logo">
              <img src="img/logo.jpg" alt="Logo Euromada" />
            </a>
          </div>	
          <div class="uk-width-1-2">
            <!-- contact number -->
            <div class="er-number">
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div id="er-header-nav" class="uk-container uk-container-small">
      <!-- main navigation -->
      <nav class="uk-navbar-container main-navigation" style="margin-bottom: 15px" uk-navbar>
        <div class="uk-navbar-right">
          <ul class="uk-subnav uk-subnav-pill er-subnav" uk-margin>
            <li><a href="index.html">Accueil</a></li>
            <li class="uk-active"><a href="#">Offres</a></li>
            <li><a href="#">Promotion</a></li>
            <li><a href="#">Nous contacter</a></li>
            <li class="er-publisher-car"><a href="#">Publier une voiture</a></li>
          </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-subnav uk-subnav-pill er-user-subnav" uk-margin>
                <li>
                  <a href="#">
                    <span class="er-user-icon" uk-icon="icon: user"></span> 
                    <span class="er-user-text">Mon compte</span>
                  </a>
                </li>
              </ul>
        </div>

      </nav>
    </div>
  </header>

  <div id="primary">

    <section class="er-search uk-padding-medium uk-padding-remove-left uk-padding-remove-right">
      <!-- search section -->
      <div class="uk-section-transparent uk-section-large uk-margin-remove uk-padding-remove">
        <div class="uk-container uk-container-small">
          <form class="uk-grid-small" uk-grid>
            <div class="uk-width-1-6@s">
                <select name="skills" class="ui fluid normal dropdown">
                  <option value="">Catégorie</option>
                  <option value="angular">Angular</option>
                  <option value="css">CSS</option>
                  <option value="design">Graphic Design</option>
                </select>
            </div>
            <div class="uk-width-1-6@s">
                <select name="skills" class="ui fluid normal dropdown">
                    <option value="">Marque</option>
                    <option value="angular">Angular</option>
                    <option value="css">CSS</option>
                    <option value="design">Graphic Design</option>
                  </select>
            </div>
            <div class="uk-width-1-6@s">
                <select name="skills" class="ui fluid normal dropdown">
                    <option value="">Modèle</option>
                    <option value="angular">Angular</option>
                    <option value="css">CSS</option>
                    <option value="design">Graphic Design</option>
                  </select>
            </div>
            <div class="uk-width-1-6@s">
                <select name="skills" class="ui fluid normal dropdown">
                    <option value="">Prix maxi</option>
                    <option value="angular">Angular</option>
                    <option value="css">CSS</option>
                    <option value="design">Graphic Design</option>
                  </select>
            </div>
            <div class="uk-width-1-6@s">
                <select name="skills" class="ui fluid normal dropdown">
                    <option value="">Carburant</option>
                    <option value="angular">Angular</option>
                    <option value="css">CSS</option>
                    <option value="design">Graphic Design</option>
                  </select>
            </div>
            <div class="uk-width-1-6@s">
                <button class="uk-button uk-button-euromada er-button-search">CHERCHER</button>
            </div>
          </form>
        </div>
      </div>
      
    </section>
    

    <div id="primary-content" >
      <div class="uk-section uk-section-large uk-padding-medium">
        <div class="uk-container uk-container-small">
            
        	<div id="app-lists">
            <h2 class="uk-text-uppercase er-h2 uk-margin-remove-bottom">Voitures occasion</h2>
            <p class="uk-text-small uk-margin-remove-top">179 711 annonces</p>

            <!-- order select -->
            <div uk-grid>
              <div class="uk-width-1-5@s">
                <select name="orderBy" v-model="sorting" v-on:change="sortBy" class="ui fluid normal dropdown">
                  <option value="">Trier par</option>
                  <option value="title">Titre</option>
                  <option value="cost">Prix</option>
                </select>
              </div>
            </div>
            <!-- end -->

            <div class="uk-margin-large-top" uk-grid>
              <div class="er-annonce-list uk-width-2-3@m">

                <div class="ui divided items">

                  <div class="item" v-for="(advert, index) in adverts">
                    <div class="image">
                      <p class="er-photo">{{ advert.countPic }}</p>
                      <img v-bind:src="advert.link" v-bind:alt="advert.title">
                    </div>
                    <div class="content">
                      <div class="extra">
                        <div class="ui left floated"><a class="header er-list-title">{{ advert.title }}</a></div>
                        <div class="ui right floated er-h2" style="color: #000"><p>{{ advert.cost | ariary }}</p></div>
                      </div>
                      <div class="meta">
                        <span class="cinema">{{ advert.dateadd }}</span>
                      </div>
                      <div class="description">
                        <p></p>
                      </div>
                      <div class="extra">
                        <div class="ui label er-label">Badget</div>
                        <div class="ui right floated primary button er-button-voir" @click="routeLinkProduct(advert.id)">Voir</div>
                      </div>
                    </div>
                  </div>

                  <div class="er-pagination">
                    <pagination></pagination>
                  </div>

                </div>

              </div> <!-- /.er-annonce-list -->
              <div class="er-sidebar uk-width-1-3@m">
                <section>
                  <div class="ui centered card">
                    <div class="content er-sidebar-title">
                        <a class="header uk-text-uppercase er-h2">les promotions</a>
                    </div>
                    <div class="image">
                        <img src="img/products/auto.png">
                    </div>
                    <div class="content">
                      <div class="meta">
                          <span class="date uk-text-uppercase er-h2">NISSAN QASHQAI S 2017</span>
                          <p class="er-sidebar-cost">20.000.000 MGA</p>
                        </div>
                    </div>
                    <div class="extra content uk-flex">
                        <div class="ui buttons uk-margin-auto">
                          <div class="ui primary green button">Voir tous</div>
                        </div>
                      </div>
                  </div>
                </section>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <footer class="uk-margin-large-top">
      <div class="uk-section-transparent uk-section-large uk-padding-medium er-footer">
        <div class="uk-container uk-container-small">
          <div uk-grid>
            <div class="uk-width-1-3@s">
              <div class="er-testimonial">
                <span class="er-footer-icon" uk-icon="icon: quote-right; ratio: 2"></span>
                <h2 class="er-footer-title uk-margin-remove-top uk-text-uppercase">DES CLIENTS SATISFAITS</h2>
                <p class="uk-padding-remove uk-margin-remove er-footer-meta">Lire tous les témoignages</p>
                <div class="uk-margin-small-top"><div class="ui rating" data-rating="3" data-max-rating="5"></div></div>

                <script type="text/javascript">

                (function($){
                  $( document ).ready(function() {
                    $( '.ui.rating' ).rating();
                  });
                })(jQuery)

                </script>

              </div>
            </div>
            <div class="uk-width-1-3@s">
              <div class="er-social">
                  <span class="er-footer-icon" uk-icon="icon: facebook; ratio: 2"></span>
                  <h2 class="er-footer-title uk-margin-remove-top uk-text-uppercase">SUR FACEBOOK</h2>
                  <p class="uk-padding-remove uk-margin-remove er-footer-meta">Visiter notre page Facebook</p>

                  <div id="fb-root"></div>
                  <script>
                    (function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.11&appId=1407102892874754';
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                  </script>

                  <div class="fb-page" data-href="https://www.facebook.com/Euromadautomobile/" data-tabs="timeline" data-small-header="true" 
                  data-adapt-container-width="true" data-height="200" data-hide-cover="false" data-show-facepile="false">
                    <blockquote cite="https://www.facebook.com/Euromadautomobile/" class="fb-xfbml-parse-ignore">
                      <a href="https://www.facebook.com/Euromadautomobile/">Euromada</a>
                    </blockquote>
                  </div>

              </div>
            </div>
            <div class="uk-width-1-3@s">
              <div class="er-contact">
                  <span class="er-footer-icon" uk-icon="icon: mail; ratio: 2"></span>
                  <h2 class="er-footer-title uk-margin-remove-top uk-text-uppercase">CONTACTEZ NOUS</h2>
                  <div class="ui list">
                      <div class="item">
                        <i class="icon"><span uk-icon="icon: location"></span></i>
                        <div class="content">
                          Immeuble "LA VALLEE" Ampahibe ANTANANIRIVO 101
                        </div>
                      </div>
                      <div class="item">
                          <i class="icon"><span uk-icon="icon: phone"></span></i>
                        <div class="content">
                            00261 32 632 95 05, <br />
                            00261 34 114 80 51
                        </div>
                      </div>
                      <div class="item">
                         <i class="icon"><span uk-icon="icon: mail"></span></i>
                        <div class="content">
                          <a href="mailto:automobile@euromada.fr">automobile@euromada.fr</a>
                        </div>
                      </div>
                      <div class="item">
                        <i class="icon"><span uk-icon="icon: world"></span></i>
                        <div class="content">
                          <a href="http://www.euromada.fr">euromada.fr</a>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  	
  </div>
</body>
</html>
